
  
  :root {
    --color-background: #fae3ea;
    --color-primary: #fc8080;
    --font-family-base: Poppins, sans-serif;
    --font-size-h1: 1.25rem;
    --font-size-h2: 1rem;
    --poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;
	--light: #F9F9F9;
	--blue: #3ac5ce;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
	--body-text-color: #083c3e;
  }
  
  * {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  }
  

  
  .reiceve_card .table .reiceve_card address {
    font-style: normal;
    border: none1px solid #ccc;
  }
  
  .reiceve_card button {
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
  }
  
  .reiceve_card fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  .reiceve_card h1 {
    font-size: var(--font-size-h1);
    line-height: 1.2;
    margin-block: 0 1.5em;
  }
  
  .reiceve_card h2 {
    font-size: var(--font-size-h2);
    line-height: 1.2;
    margin-block: 0 0.5em;
  }
  
  .reiceve_card legend {
    font-weight: 600;
    margin-block-end: 0.5em;
    padding: 0;
  }
  
  .reiceve_card input {
    border: 0;
    color: inherit;
    font: inherit;
  }
  
  .reiceve_card input[type="radio"] {
    accent-color: var(--blue);
  }
  
  .reiceve_card table {
    border-collapse: collapse;
    inline-size: 100%;
  }
  
  .reiceve_card tbody {
    color: #b4b4b4;
  }
  
  .reiceve_card td {
    padding-block: 0.125em;
  }
  
  .reiceve_card tfoot {
    border-top: 1px solid #b4b4b4;
    font-weight: 600;
  }
  
  .reiceve_card .align {
    display: grid;
    place-items: center;
  }
  
  .reiceve_card .btn_reject {
    align-items: center;
    background-color: var(--grey);
    border-radius: 999em;
    color:var(--body-text-color);
    display: flex;
    gap: 0.5em;
    justify-content: center;
    padding-block: 0.75em;
    padding-inline: 1em;
    transition: background-color 0.3s;
    margin: 5px;
  }

  .reiceve_card .btn_accept {
    align-items: center;
    background-color: var(--blue);
    border-radius: 999em;
    color:var(--body-text-color);
    display: flex;
    gap: 0.5em;
    justify-content: center;
    padding-block: 0.75em;
    padding-inline: 1em;
    transition: background-color 0.3s;
    margin: 5px;
  }
  
  .reiceve_card .btn_accept:focus,
  .btn_accept:hover {
    background-color: lightblue;
  }
  
  .reiceve_card .btn_reject:focus {
    outline: 2px solid #fff;
  }

  .reiceve_card .btn_reject:focus,
  .btn_reject:hover {
    background-color: darkgray;
  }
  
  .reiceve_card .btn_reject:focus {
    outline: 2px solid #fff;
  }
  
  .reiceve_card .button--full {
    inline-size: 100%;
  }
  
  .reiceve_card .card {
    border-radius: 1em;
    background-color: white;
    color: black;
    padding: 1em;
    border: 1px solid #ccc;

  }

 

  .reiceve_card .card_information textarea {
    border-radius: 1em;
    background-color: white;
    color: black;
    padding: 1em;
    border: 1px solid #ccc;
    width: 311px;
    height: 200px;
  }
  
  .reiceve_card .form {
    display: grid;
    gap: 2em;
  }
  
  .reiceve_card .form__radios {
    display: grid;
    gap: 1em;
  }
  
  .reiceve_card .form__radio {
    align-items: center;
    background-color: #fefdfe;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
    display: flex;
    padding: 1em;
  }
  
  .reiceve_card .form__radio label {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 1em;
  }
  
  .reiceve_card .header {
    display: flex;
    justify-content: center;
    padding-block: 0.5em;
    padding-inline: 1em;
  }
  
  .reiceve_card .icon {
    block-size: 1em;
    display: inline-block;
    fill: currentColor;
    inline-size: 1em;
    vertical-align: middle;
  }
  
  .reiceve_card {
    background-color: #fbf6f7;
    background-image: linear-gradient(to bottom, #fbf6f7, #fff);
    border-radius: 2em;
    block-size: 812px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
    inline-size: 375px;
    overflow: auto;
    padding: 2em;
    border: 1px solid var(--body-text-color);
  }

  .reiceve_card .btn_choose{
    display: flex;
  }
  